#carousel{
    width: 80%; 
    height: calc(40vh - 5vw);
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px -2px #ddd;

    .item{
      background: #333;
      height: calc(40vh - 5vw);
      padding-top: 32px;
      padding-bottom: 32px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3, p{
        color: #fff;
        width: 70%;
        text-align: center;
      }
    }
}