#contact-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7%;

  h1{
    font-size: 3.5rem;
    max-width: 800px;
  }

  h4{
    max-width: 800px;
  }

  #form {
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-top: 7%;
  }
}