//Menu Styles
#menu-page{
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;

  .container{
    width: 75%;
    height: 100vh;
    overflow-y: auto;
  }
  
  #menu-main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
  
    p {
      font-family: 'Open Sans', sans-serif;
    }
  
    .title{
      margin: 0;
      line-height: 1.15;
      font-size: 4rem;
      text-align: center;
    }
  
    .description {
      line-height: 1.5;
      font-size: 1.5rem;
      text-align: center;
    }
  
    .grid {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  
      max-width: 800px;
      margin-top: 3rem;
  
      .card {
        margin: 1rem;
        flex-basis: 30%;
        padding: 1.5rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid #eaeaea;
        transition: color 0.15s ease, border-color 0.15s ease;
    
        &:hover, &:focus, &:active{
          color: #89837E;
          border-color: #89837E;
        }
    
        h3{
          margin: 0 0 1rem 0;
          font-size: 1.5rem;
        }
    
        p{
          margin: 0;
          font-size: 1.25rem;
          line-height: 1.5;
        }
      }
    }
  
    @media (max-width: 600px) {
      .grid {
        width: 100%;
        flex-direction: column;
      }
    }
  }
}