#reviews-page{
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;

  .container {
    width: 75%;
    height: 100vh;
    overflow-y: auto;
  }

  #reviews-main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}